body{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: linear-gradient(rgb(13, 39, 13),rgb(14, 114, 22));
    color: white;
    font-weight: bold;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color:gold;
}
#message-el{
    font-size: 1.5rem;
    font-style: italic;
}
button{
    color: #0b3f22;
    width: 200px;
    height: 30px;
    background: goldenrod;
    padding: 5px 0px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    margin: 10px 0px;
}
#bet{
    font-size: 1.5rem;
    font-style: italic;
    color:gold;
}